.user-card {
    width: 300px;
    margin-top: 10px;
    position: fixed;
}

.log-in-container {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30%;
    width: 300px;
    height: 250px;
}

.user-card-container {
    text-align: center;
}

.user-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-card-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-card-name {
    padding-left: 20px;
    font-size: 25px;
    word-wrap: break-word;
}

.user-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.log-in-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
